@{
    Layout = "_AdminLayout";
}
@model List<UserWithRolesVM>
<div class="content-page">
    <div class="content">

        <!-- Start container-fluid -->
        <div style="margin-left:50px;" class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div>
                        <h4 class="header-title mb-3">Welcome !</h4>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <!--end row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <h5 class="mt-0 font-14 mb-3">Contacts</h5>
                        <div class="table-responsive">
                            <table class="table table-hover mails m-0 table table-actions-bar table-centered">
                                <thead>
                                    <tr>
                                        <th style="min-width: 95px;">
                                            <div class="checkbox checkbox-single checkbox-primary">
                                                <input type="checkbox" class="custom-control-input" id="action-checkbox">
                                                <label class="custom-control-label" for="action-checkbox">&nbsp;</label>
                                            </div>
                                        </th>
                                        <th>Name</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var user in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary mr-2 float-left">
                                                    <input id="checkbox2" type="checkbox">
                                                    <label for="checkbox2"></label>
                                                </div>
                                            </td>

                                            <td>
                                                @user.UserName
                                            </td>

                                            <td>
                                                @user.Email
                                            </td>

                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end content -->

</div>