@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="margin-bottom:100px;" class="container">
    <br><br><br><br>
    <div class="text-center">
        <img src="/assets/images/payment/001-check.png" class="img-fluid"
             style="width: 200px; height: 200px; margin-left: auto; margin-right: auto"
             alt="...">
        <br>
        <h1><strong>Your order has been received</strong></h1>
        <br>
        <p>Thank you for your purchase !</p>
        <a style="background-color:#E72463;color:#fff;border:none;" class="btn btn-primary w-20 " asp-controller="Product" asp-action="Shop">
            Start Shopping Again
        </a>
    </div>
</div>
